html {
    box-sizing: border-box;
}
body {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    width: 80%;
    justify-content: center;
    margin: 1em;
}
input[type='radio'] {
    display: none;
    
  }
  input[type='radio']:checked + .gender {
     
      border-bottom: 5px solid red;
     
      
  }
  
  main {
    display: inline-block;
    

  }
  div {
    margin: 1em;
    border: 2px solid red;
    padding: 1em;
  }
  .name {
     
  }
  .gender {
    border: 1px solid grey;
   
}

